.landing main::after, .landing main::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 20rem;
    height: 20rem;
    border-radius: 10px;
    transform: rotate(50deg);
}

.landing main::before{
    background: var(--primary-color);
    top: 18rem;
    left: -5rem;
}

.landing main::after {
    background: var(--ascent-color);
    bottom: 20rem;
    right: -6rem;
}

@media screen and (max-width: 1200px){
    .landing main::after, .landing main::before {
        width: 15rem;
        height: 15rem;
    }
}

@media screen and (max-width: 1000px) {

    .landing main::after,
    .landing main::before {
        width: 10rem;
        height: 10rem;
    }
}

@media screen and (max-width: 750px) {

    .landing main::after,
    .landing main::before {
        display: none;
    }
}

.trust{
    border: solid 1px var(--light-color);
    border-radius: 5px;
    padding: 1rem;
    width: 30rem;
    margin: 3rem auto 5rem auto;
}

.trust .people {
    display: flex;
    margin-top: 1rem;
    width: 100%;
    padding: 0 5px;
    justify-content: center;
}

.trust .people .person{
    width: 5rem;
    height: 5rem;
    border: solid 3px #fff;
    border-radius: 50%;
    overflow: hidden;
    margin-left: -10px;
}

.person img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}